<div class="container">
  <div class ="columns">
    <div class="column">
      <%= paginate @homeworlds%>
    </div>
  </div>
</div>

<section class="section">
  <div class="container is-max-desktop">
  <h3 class="title is-1">Planet List</h3>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Planet Number</th>
          <th>Planet Image</th>
          <th>Planet Name</th>
        </tr>
      </thead>
      <tbody>
        <% @homeworlds.each do |homeworld| %>
        <tr>
          <td>
            <%=homeworld.id%>
          </td>
            <td>
              <div class="image is-1by1">
                <figure class="">
                  <%if homeworld.imagepath == "null"%>
                  <a href="/homeworlds/<%=homeworld.id%>"><img src="/assets/default.jpg"></a>
                  <%else%>
                    <a href="/homeworlds/<%=homeworld.id%>"><img src="/assets/<%=homeworld.imagepath%>"></a>
                  <% end %>
                </figure>
              </div>
            </td>
          <td>
            <h3><%=link_to homeworld.name, homeworld%></h3>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</section>