
<div class="container">
<h1 class=" title is-1 mt-5">Planets</h1>
  <div class ="columns">
    <div class="column">
      <nav class="navbar-end mt-5">
          <%= form_with(url: "homeworlds/search", method: :get, local: true) do%>
            <div class="field is-grouped mb-5">
              <div class="control">
                <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search planet here")%>
              </div>
              <div class="control">
                <%= submit_tag("search", class: "button is-link")%>
              </div>
            </div>
          <% end %>
        </nav>
      <%= paginate @homeworlds%>
    </div>
  </div>
</div>
<section class="section">
  <div class="container">

    <div class="column is-full">
      <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
          <tr>
            <th>Index</th>
            <th>Image</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
        <%count = 1%>
          <% @homeworlds.each do |homeworld| %>
          <%if homeworld.name != "unknown"%>
            <tr style=" height:25%">
              <td style=" width:10px">
                <%=count%>
              </td>
                <td >
                  <div style = "overflow: hidden">
                      <%if homeworld.imagepath == "null"%>
                      <a class="image is-128x128" href="/homeworlds/<%=homeworld.id%>"><img src="/assets/imagenot.jpg"></a>
                      <%else%>
                        <a href="/homeworlds/<%=homeworld.id%>"><img src="/assets/<%=homeworld.imagepath%>" width="150" height="150"></a>
                      <% end %>
                  </div>
                </td>
              <td style=" width:1000px">
                <h3><%=link_to homeworld.name, homeworld%></h3>
              </td>
            </tr>
            <%count += 1%>
          <%end%>
          <%end%>
        </tbody>
      </table>
      <div class="column">
      <%= paginate @homeworlds%>
    </div>
    </div>
  </div>
</section>