<div class="container">
  <div class ="box">
  <div class="columns">
      <%if @homeworld.imagepath == "null" %>

        <div class= "column is-one-third">
          <img src="/assets/imagenot.jpg" height="500" width="300">
        </div>
      <%else%>
        <div class= "column is-half">
          <%= image_tag(@homeworld.imagepath, size:"450x500")%>
        </div>
      <%end%>

    <div class="column">
      <div>
            <h1 class = "title is-2"><%=@homeworld.name%></h1>
            <h1 class = "title is-5">Planet Attributes:</h1>
            <h1 class = "title is-6">Terrain: <%=@homeworld.terrain%></h1>
            <%if @homeworld.gravity == "N/A"%>
            <h1 class = "title is-6">Gravity: Unknown</h1>
            <%else%>
            <h1 class = "title is-6">Gravity: <%=@homeworld.gravity%></h1>
            <%end%>

            <%if @homeworld.surface_water == 0%>
            <h1 class = "title is-6">Planet has no surface water</h1>
            <%else%>
            <h1 class = "title is-6">Surface water: <%=@homeworld.surface_water%>%</h1>
            <%end%>

            <h1 class = "title is-6">Diameter: <%=@homeworld.diameter%> km</h1>
            <h1 class = "title is-6">Orbital period: <%=@homeworld.orbital_period%> Standard days</h1>
            <h1 class = "title is-6">Rotational period: <%=@homeworld.rotation_period%> hours</h1>

            <%if @homeworld.population == 0%>
            <h1 class = "title is-6">Population: Unknown</h1>
            <%else%>
            <h1 class = "title is-6">Population: <%=@homeworld.population%></h1>
            <%end%>
          </div>
        </div>
      </div>

  </div>
</div>