
<div class="container">
  <div class ="columns">
    <div class="column"></div>
    </div>
  </div>
</div>
<section class="section">
  <div class="container">
  <h1 class=" title is-1">Films</h1>
    <div class="column is-full">
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Index</th>
            <th>Image</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @films.each do |film| %>
          <tr style=" height:25%">
            <td style=" width:10px">
              <%=film.id%>
            </td>
              <td style=" width:10px">
                <div class="image is-4by5" style = "overflow: hidden">
                    <%if film.imagepath == "null"%>
                    <a href="/films/<%=film.id%>"><img src="/assets/default.jpg"></a>
                    <%else%>
                      <a href="/films/<%=film.id%>"><img src="/assets/<%=film.imagepath%>" ></a>
                    <% end %>
                </div>
              </td>
            <td style=" width:1000px">
              <h3><%=link_to film.name, film%></h3>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</section>