<h1 class = "title is-4"><%=@film.name%></h1>

<div class="card">
  <div class="card-image">
    <figure class="image is-128x128">
      <%if @film.imagepath == "null" %>
      <%= image_tag("default.jpg")%>
      <%else%>
      <%= image_tag(@film.imagepath)%>
      <%end%>
    </figure>
  </div>
</div>


</div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
      </div>
      <div class="media-content">
      </div>
    </div>
    <div class="content">
      <div class = "box">
      <p>film opening crawl: <%=@film.opening_crawl%></p>
      <h3 class = "title is-6">director: <%=@film.director%></h3>
      <h3 class = "title is-6">release date: <%=@film.release_date%></h3>
      </div>
    </div>
  </div>
</div>


