<div class="container">
  <div class ="columns">
    <div class="column">
    </div>
  </div>
</div>
<section class="section">
  <div class="container">
  <h1 class=" title is-1"> Search found <%=@characters.count%> Characters</h1>
    <div class="column is-full">
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Index</th>
            <th>Image</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
        <%count = 1 %>
          <% @characters.each do |character| %>
          <tr style=" height:25%">
            <td style=" width:10px">
              <%=count%>
            </td>
              <td >
                <div style = "overflow: hidden">
                    <%if character.imagepath == "null"%>
                    <a class="image is-128x128" href="/characters/<%=character.id%>"><img src="/assets/imagenot.jpg"></a>
                    <%else%>
                      <a href="/characters/<%=character.id%>"><img src="/assets/<%=character.imagepath%>" width="150" height="150"></a>
                    <% end %>
                </div>
              </td>
            <td style=" width:1000px">
              <h3><%=link_to character.name, character%></h3>
            </td>
          </tr>
          <%count += 1%>
          <%end%>
        </tbody>
      </table>
      <div class="column">
    </div>
    </div>
  </div>
</section>