
  <div class="container">
    <div class ="box">
      <div class="columns is-vcentered ">
        <div class= "column is-one-third">
          <%if @character.imagepath == "null" %>
            <img src="/assets/imagenot.jpg" height="500" width="300">
            <%else%>
            <%= image_tag(@character.imagepath,size:"500x300")%>
            <%end%>
        </div>
        <div class="column">
          <div class="content">
            <h1 class = "title is-2"><%=@character.name%></h1>
            <h2 class  = "title is-5">Character description:</h2>
            <h3 class = "title is-6">Height: <%=@character.height%> cm</h3>
            <h3 class = "title is-6">Mass: <%=@character.mass%> kg</h3>
            <h3 class = "title is-6">Birth year: <%=@character.birth_year%> BBY</h3>

            <% if @character.gender == "none" %>
              <h3 class = "title is-6">Gender: Robot</h3>
            <% else %>
            <h3 class = "title is-6">Gender: <%=@character.gender%></h3>
            <% end %>

            <% if @character.homeworld.name == "null" %>
              <h3 class = "title is-6">Homeworld: Unknown</h3>
            <% else %>
            <h3 class = "title is-6">Homeworld: <%=link_to @character.homeworld.name, @character.homeworld%></h3>
            <% end %>


            <h3 class = "title is-6">Eye color: <%= @character.eye_color%></h3>
            <h3 class = "title is-6">Skin color: <%= @character.skin_color%></h3>

            <h3 class = "title is-6">Starships: <% @character.starships.each do |s| %>
                                                  <%if s.name == "no ship"%>
                                                    none
                                                  <%else%>
                                                    <%= link_to s["name"], s%>
                                                  <%end%>
                                                <% end %></h3>
            <h3 class = "title is-6">Films: <% @character.films.each do |f| %>
                                                <%= link_to f["name"], f%>,
                                                <% end %></h3>
          </div>
        </div>
      <div>
    </div>
  </div>