<div class="container">
  <div class ="columns">
    <div class="column">
      <%= paginate @starships%>
    </div>
  </div>
</div>
<section class="section">
  <div class="container is-widescreen">
    <div class="columns">
      <div class="column is-full">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Number</th>
              <th>Character Image</th>
              <th>Character</th>
            </tr>
          </thead>
          <tbody>
            <% @starships.each do |starship| %>
            <tr>
              <td>
                <%=starship.id%>
              </td>
                <td>
                  <div class="image is-5by4">
                    <figure class="">
                      <%if starship.imagepath == "null"%>
                        <a href="/starships/<%=starship.id%>"><img src="/assets/default.jpg"></a>
                      <%else%>
                        <a href="/starships/<%=starship.id%>"><img src="/assets/<%=starship.imagepath%>"></a>
                      <% end %>
                    </figure>
                  </div>
                </td>
              <td>
                <h3><%=link_to starship.name, starship%></h3>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
