<h1 class = "title is-4"><%=@starship.name%></h1>

<div class="card">
  <div class="card-image">

  </div>
</div>


</div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
      </div>
      <div class="media-content">
      </div>
    </div>
    <div class="content">
      <div class = "box">
      <h3 class = "title is-6">Model: <%=@starship.model%></p>
      <h3 class = "title is-6">Manufacturer: <%=@starship.manufacturer%></h3>
      <h3 class = "title is-6">Cost in credits: <%=@starship.cost_in_credits%></h3>
      <h3 class = "title is-6">Length: <%=@starship.length%></h3>
      <h3 class = "title is-6">Max Atmosphere speed: <%=@starship.max_atmospgering_speed%></h3>
      <h3 class = "title is-6">Crew size: <%=@starship.crew%></h3>
      <h3 class = "title is-6">Passengers: <%=@starship.passengers%></h3>
      <h3 class = "title is-6">Cargo capacity: <%=@starship.cargo_capacity%></h3>
      <h3 class = "title is-6">Consumables on board: <%=@starship.consumables%></h3>
      <h3 class = "title is-6">Hyperdrive rating: <%=@starship.hyperdrive_rating%></h3>
      <h3 class = "title is-6">Starship class: <%=@starship.starship_class%></h3>
      </div>
    </div>
  </div>
</div>


