<!DOCTYPE html>
<html>
  <head>
    <title>StarWars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  </head>

  <body>
    <section class="hero is-black is-bold">
      <div class="hero-body is-centered">
        <p class="title">
          Star Wars Encyclopedia</p>
    </section>

    <nav class="navbar has-shadow is-dark">
      <div class="navbar-brand">
        <a  class="navbar-burger">
        </a>
      </div>
      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <a class="navbar-item" href = "/"> Home</a>
          <a class="navbar-item" href="/characters">Characters</a>
          <a class="navbar-item" href="/homeworlds">Planets</a>
          <a class="navbar-item" href="/starships">Starships</a>
          <a class="navbar-item" href="/films">Films</a>
          <a class="navbar-item" href="/about/index">About</a>
        </div>

      </div>
    </nav>
    <%= yield %>
</div>
  </section>
  </body>
</html>
